*{
	margin: 0;
	padding: 0;
}
#topo{
	height: 70px;
	background: #5e2129;
}
#menu{
	background-color: #e9dada;
}
#menu ul, li{
	display: inline-block;
	padding: 20px 30px;
	cursor: pointer;
}
#menu ul li a{
	text-decoration: underline;
	color: navy;
}
#menu ul li:hover{
	background-color: rgba(0,80,0,0.5);
}
#conteudo{
	background-color: #5e2128;
	min-height: 50px;
}
#slider {
	overflow: hidden;
}
#slider figure {
	position: relative;
	width: 500%;
	margin: 50px;
	left: 0;
	animation: 20s slider infinite;
	min-height: 675	px;
}
#slider figure img {
	width: 20%;
	float: left;
}

@keyframes slider {
	0% {
		left: 0;
	}
	20% {
		left: 0;
	}
	25% {
		left: -100%;
	}
	45% {
		left: -100%;
	}
	50% {
		left: -200%;
	}
	70% {
		left: -200%;
	}
	75% {
		left: -300%;
	}
	95% {
		left: -300%;
	}
	100% {
		left: -400%;
	}
}

img{
	max-width: 90%;
	width: 10cm;
	height: 12cm;
	object-fit: contain;
}
